.header{
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCC;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url('../images/logo.png') no-repeat;
    background-position: 20px 5px;
}