.filters{
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    align-items: center;
    display: flex;
}
.locations, .amenities{
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.amenities{
    border-right: unset;
}
.locations h3, 
.amenities h3{
    font-weight: 600;
    width: 75%;
    margin: unset;
}
.locations h4, 
.amenities h4{
    font-weight: 400;
    font-size: 14px;
    width: 75%;
    margin: unset;
}
.popover{
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    width: 25%;
    display: none;
}
.popover li, .popover ul{
    list-style: none;
}
.lilpaddin{
    padding-left: 5%;
}
.bipaddin{
    padding-left: 12%;
}
.popover h2{
    margin: 0;
}
.locations:hover .popover, .amenities:hover .popover{
    display: block;
}